.gmc__proof {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    padding: 0 .8rem 1rem;
}

.gmc__proof div {
    min-width: 80px;
}

@media screen and (min-width: 1040px) {
    .gmc__proof {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #fff;
        padding: 3rem 8rem 2rem;
    }

    .gmc__proof div {
        width: 140px;
        /* padding: 1rem 0; */
    }
}