.gmc__header {
    padding-top: 1rem;
}

.gmc__header_content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem 1rem 0 2rem;
    background: url(../../public/images/medical-insignia.svg) no-repeat bottom right;
}

.gmc__header_content h1 {
    font-family: var(--font-family-heading);
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--color-text);
    position: relative;
     -webkit-animation-duration: 1s;
     animation-duration: 1s;
     -webkit-animation-name: fadeIn;
     animation-name: fadeIn;
}

.gmc__header_content h1::before {
    content: "";
    height: 4px;
    width: 36px;
    position: absolute;
    background: var(--color-accent);
    top: -10px;
    animation: leftBounce 3000ms ease-in-out infinite;
}

.gmc__header_content> p {
    font-family: var(--font-family-text);
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.01em;

    color: var(--color-subtext);
    padding: .5rem 0 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.gmc__header_content button {
    font-family: var(--font-family-heading);
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.01em;

    color: var(--color-text);
    padding: 1rem 2rem;
    margin-top: 1.5rem;
    box-shadow: 0.3px 2.1px 2.2px rgba(56, 92, 173, 0.02),
    0.8px 5.1px 5.3px rgba(56, 92, 173, 0.028),
    1.5px 9.5px 10px rgba(56, 92, 173, 0.035),
    2.7px 17px 17.9px rgba(56, 92, 173, 0.042),
    5px 31.8px 33.4px rgba(56, 92, 173, 0.05),
    12px 76px 80px rgba(56, 92, 173, 0.07);
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    /* -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn; */
}

 .gmc__header_content button:hover {
     background-color: #6abf4b79;
 }


.gmc__header_content button span {
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gmc__header_content__button_icon {
    font-size: 20px;
}

.gmc__header_content__trust_container {
    margin: .8rem .8rem 0 ;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
}

.gmc__header_content__trust_container_item svg {
    width: 12px;
    height: 12px;
}


.gmc__header_content__trust_container_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2px;
}


.gmc__header_content__trust_container_item p {
    font-size: 12px;
    line-height: 1.6;
    margin-left: 8px;
    font-weight: 400;
    font-family: var(--font-family-heading);
    letter-spacing: 0.03em;
    color: var(--color-subtext);
}


.gmc__header_image_sm {
    padding: 2rem 2rem 2rem;
    margin-top: 2rem;
     -webkit-animation-duration: 1s;
     animation-duration: 1s;
     -webkit-animation-name: fadeIn;
     animation-name: fadeIn;
     z-index: -10;
}

.gmc__header_image_lg {
    display: none;
}

.gmc__header_proof {
    width: 100%;
    
}

@media screen and (min-width: 1050px) {
    .gmc__header {
        display: flex;
        flex-wrap: wrap;
        margin-top: 9rem;
        padding: 0 6rem;
    }
    
    .gmc__header_content {
        padding-left: 4rem;
        padding-bottom: 8rem;
        background: none;
    }

    .gmc__header_content h1 {   
        font-size: 56px;
        line-height: 65px;
        position: relative;

    }

    .gmc__header_content h1::before {
        content: "";
        height: 6px;
        width: 65px;
        position: absolute;
        top: -20px;
        background: var(--color-accent);
        animation: leftBounce 3000ms ease-in-out infinite;
    }

     .gmc__header_content p {
        font-size: 22px;
        line-height: 28px;
     }

     .gmc__header_content button {
        padding: 1.3rem 3rem;
        font-size: 18px;
        font-weight: 700;
     }

     .gmc__header_content__button_icon {
         margin-right: .5rem;
     }

     .gmc__header_content button svg {
         font-size: 28px;
     }


     .gmc__header_content__trust_container {
         display: flex;
         flex-direction: column;
         margin-bottom: 1rem;
         padding-left: 1rem;
     }

     .gmc__header_content__trust_container_item svg {
         width: 20px;
         height: 20px;
     }

     .gmc__header_content__trust_container_item p {
         font-size: 16px;
         margin-left: 15px;
     }

     .gmc__header_image {
         display: none;
     }

     .gmc__header_image_lg {
         display: block;
         flex: 1.5;
         /* padding: 0 6rem 0 0; */
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
          -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
     }

}


@keyframes leftBounce {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(25px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translate3d(0, 10%, 0);
        transform: translate3d(0, 10%, 0);
    }

    to {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

}

@keyframes fade {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    }

}