.gmc__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 1rem .2rem 1rem;

    /* position: fixed;
    top: 0; */
    width: 100%;
    z-index: 200;
    box-shadow: 0px 6px 10px rgba(197, 201, 248, 0.05),
    0px 48px 80px rgba(0, 0, 0, 0.025);
    background-color: rgba(255, 255, 255, 0.178);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.gmc__navbar_links__logo {
    display: none;
}

.gmc__navbar_links__container ul {
    display: none;
}

.gmc__navbar_links__logo_fav {
    display: inline-block;
    width: 45px;
}

.gmc__navbar_links__contact button {
    display: none;
}

.gmc__navbar_hamburger {
    position: relative;
    margin-right: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gmc__navbar_hamburger svg {
    cursor: pointer;
}

.gmc__navbar_hamburger_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: start;
    padding: 3.6rem 2rem;
    position: absolute;
    right: -25px;
    top: 45px;
    min-width: 250px;
    background-color:var(--bg-color-dark);
    border-radius: 5px 0 0 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
    transition: all 3s ease-in-out;
    z-index: 100;
}

.gmc__navbar_hamburger_container li {
    margin: 1.8rem 0;
    padding: .2rem 0;
    z-index: 200;
}

.gmc__navbar_hamburger_container__links,
.gmc__navbar_links__container li {
    color: var(--color-text-alt);
    font-family: var(--font-family-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-transform: capitalize;
    margin: 0 1rem;
    z-index: 100;
}

.gmc__navbar_hamburger_container__links li:first-of-type {
    margin-top: 0;
    padding-top:0;
}

.gmc__navbar_hamburger_container__links a:hover,
.gmc__navbar_links__container a:hover {
    color: var(--color-accent);
}


.gmc__navbar_links__contact button,
.gmc__navbar_hamburger_container__links_contact button {
    padding: 0.6rem 1rem;
    font-family: var(--font-family-heading);
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: var(--color-text);
    background-color: var(--color-btn);
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.gmc__navbar_links__contact button:hover {
   color: var(--color-text);
   background-color: #6abf4b79;
}

.gmc__navbar_hamburger_container__links_contact button:hover {
    background-color: #6abf4b79;
}

@media screen and (min-width: 1050px){
    .gmc__navbar {
        position: fixed;
        top: 0;
        padding: 0 8rem;
    }
     .gmc__navbar_hamburger {
        display: none;
     }

     .gmc__navbar_links__logo_fav {
        display: none;
     }

    .gmc__navbar_links__container ul {
        display: flex;
    }

    .gmc__navbar_links__container li {
        color: var(--color-text);
        font-size: 14px;
    }

    .gmc__navbar_links {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
    }

    .gmc__navbar_links__contact button {
        display: block;
        margin-right: 0.7rem;
    }
    
    .gmc__navbar_links__logo {
        display: block;
        width: 185px;
        height: 85px;
    }
}