.gmc__footer {
    /* padding: 6rem 0 0; */
    background: #19223A;
    padding: 3rem;
}

.gmc__footer_content {
    /* display: flex;
    flex-direction: column; */
    padding-bottom: 2rem;
}

.gmc__footer_image_container {
    width: 14rem;
    padding: 0 0 2rem;
    margin: .8rem auto;
}

.gmc__footer_content p {
    text-align: center;
    line-height: 1.6;
    color: var(--color-text-alt);
    font-family: var(--font-family-text);
}

.gmc__footer_share_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 14rem;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.gmc__footer_copyrights {
   text-align: center;
   color: var(--color-text-alt);
   font-family: var(--font-family-text);
}

.gmc__footer_copyrights p:first-of-type {
    margin-bottom: .3rem;
    font-weight: 700;
}

.gmc__footer_copyrights p:last-of-type {
    font-size: 10px;
}

.gmc__footer_copyrights span {
    font-style: italic;
}

@media screen and (min-width: 1050px) {

.gmc__footer {
        padding: 6rem;
    }

.gmc__footer_content {
    flex-direction: row;
}

.gmc__footer_image_container {
    width: 24rem;
    margin-bottom: 2rem;
}
}

