

.gmc__service_header {
    margin: 0 0 4rem;
}


.gmc__service_card__container span {
    margin-right: .8rem;
}

 .gmc__service_card__container span svg {
     width: 2rem;
     height: 2rem;
 }

.gmc__service_card__container li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 300;
}


@media screen and (min-width: 1050px){
    .gmc__service {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }
    .gmc__service_card__container {
        display: flex;
        justify-content: space-between;
        width: 85%;
        padding: 2rem 3rem;
    }

    .gmc__service_card__container span svg{
        width: 2.8rem;
        height: 2.8rem;
    }
}