.gmc__backToTopButton {
    position:fixed;
    bottom: 2rem;
    right: 1.3rem;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 15%;
    background: linear-gradient(274.93deg, rgba(110, 199, 77, 0.77) -15.76%, rgba(145, 196, 168, 0.6) 38.17%, rgba(161, 198, 208, 0.63) 71.28%, #B4C9FD 111.59%);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-color-dark);
    z-index: 10;
}

@media screen and (min-width: 1050px) {
    .gmc__backToTopButton {
        height: 40px;
        width: 40px;
        right: 3rem;
        font-size: 30px;
    }
}