.gmc__bio {
    padding-top: 6rem;
    position: relative;
}

.gmc__bio_content {
    padding: 3rem 2rem;
    background: linear-gradient(180deg, #B4C9FD -107.24%, #FFFFFF 64.22%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -10px;
    margin-bottom: 2rem;
}

.gmc__bio_content>p {
    font-family: var(--font-family-text);
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
    letter-spacing: -0.01em;
    color: var(--color-text);
    margin-top: 2em;
    overflow-y: scroll;
    /* max-height: 35ch; */
}

.gmc__bio_content_container {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding-top: 2rem;
}

.gmc__bio_content_container__image {
    width: 23rem;
    margin-bottom: 1rem;
    position: relative;
}


.gmc__bio_content_container__image img {
    border-radius: 5px;
}

.gmc__bio_content_container__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gmc__bio_content_container__content h1 {
    font-family: var(--font-family-heading);
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.01em;
    color: var(--color-text);
}

.gmc__bio_content_container__content p {
    font-family: var(--font-family-heading);
    font-size: 14px;
    line-height: 16px;
    font-style: italic;
    color: var(--color-text);
}

.gmc__bio_content_container__content_rating {
    color: var(--color-text);
    display: flex;
    justify-content: center;

    margin: .4rem 0;
}

.gmc__bio_content_container__content_rating p {
    font-family: var(--font-family-heading);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.01em;
    margin-left: .5rem;
}


@media screen and (min-width: 1050px) {
    .gmc__bio {
        padding-top: 5rem;
    }

    .gmc__bio_header {
     margin-bottom: -375px;
     /* z-index: 40; */
    }

    .gmc__bio_title {
        margin-top: 50rem;
    }

    .gmc__bio_content{
        padding: 6rem 16rem;
    }

    .gmc__bio_content>p {
        font-size: 18px;
         margin-top: 0;
    }

    .gmc__bio_content_container {
        width: 100%;
        flex-direction: row;
        justify-content:flex-start;
    }

    .gmc__bio_content_container__content {
        align-items: flex-start;
        margin-left: 3%;
    }

     .gmc__bio_content_container__content h1 {
         font-size: 36px;
         margin-bottom: 3%;
     }

     .gmc__bio_content_container__content p {
         font-size: 18px;
         padding: .2rem 0;
     }

     .gmc__bio_content_container__content_rating {
         margin: .6rem 0;
     }

     /* .gmc__bio_content_container__content_rating span {
        font-size: 22px;
     } */

      .gmc__bio_content_container__content_rating p {
          font-size: 22px;
          line-height: 22px;
      }
    
      .gmc__bio_content_container__image {
          width: 26rem;
      }

}