.gmc__reviews {
    margin-bottom: 3rem;
}

.gmc__reviews>svg>path {
    width: auto;
}

.gmc__reviews_container {
    padding-top: 5rem;
    position: relative;
}

.gmc__reviews__review_swiper__container {
    padding: 4rem 0;
    margin: 2rem 0 0;
    background: url("../../public/images/Intersect.svg") no-repeat center;
    background-size: cover;
}

.gmc__reviews__review_swiper__container>p {
    color: var(--color-text);
    font-family: var(--font-family-heading);
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 2rem;
    text-align: center;
    cursor: pointer;
}

@media screen and (min-width: 1050px) {

    .gmc__reviews_container {
        margin-top: -1rem;
    }

    .gmc__reviews__review_swiper__container {
        background: linear-gradient(180deg, rgba(180, 201, 253, 0.253) -107.24%, #fdfdfd 64.22%);
        height: 685px;
        margin: 6rem 0 6rem 0;
    }
}